{% extends 'base.html' %}
{% block title %} Anasayfa-{{block.super}} {% endblock %}


{% block body %}
    <div class='container-fluid'>
        <!--<div class="row" style="margin-bottom: 30px"></div>
            <div class="col-md-3 col-sm-6 " style="background-color: blue;height: 100px" >1.sutun</div>
            <div class="col-md-3 col-sm-6" style="background-color: yellow;height: 100px">2.stun</div>
            <div class="col-md-3 col-sm-6" style="background-color: #5E5694;height: 100px">3.sutun</div>
            <div class="col-md-3 col-sm-6" style="background-color: #0b2e13;height: 100px">4.stun</div>
        </div>
        <div class="row" style="margin-bottom: 30px"></div>
            <div class="col-md-3 col-sm-6 " style="background-color: blue;height: 100px" >1.sutun</div>
            <div class="col-md-3 col-sm-6" style="background-color: yellow;height: 100px">2.stun</div>
            <div class="col-md-3 col-sm-6" style="background-color: #5E5694;height: 100px">3.sutun</div>
            <div class="col-md-3 col-sm-6" style="background-color: #0b2e13;height: 100px">4.stun</div>
        </div>
         <div class="row" style="margin-bottom: 30px"></div>
            <div class="col-md-3 col-sm-6 " style="background-color: blue;height: 100px" >1.sutun</div>
            <div class="col-md-3 col-sm-6" style="background-color: yellow;height: 100px">2.stun</div>
            <div class="col-md-3 col-sm-6" style="background-color: #5E5694;height: 100px">3.sutun</div>
            <div class="col-md-3 col-sm-6" style="background-color: #0b2e13;height: 100px">4.stun</div>
        </div>     <div class="row" style="margin-bottom: 30px"></div>
            <div class="col-md-3 col-sm-6 " style="background-color: blue;height: 100px" >1.sutun</div>
            <div class="col-md-3 col-sm-6" style="background-color: yellow;height: 100px">2.stun</div>
            <div class="col-md-3 col-sm-6" style="background-color: #5E5694;height: 100px">3.sutun</div>
            <div class="col-md-3 col-sm-6" style="background-color: #0b2e13;height: 100px">4.stun</div>
        </div> !-->
        <div class="row">
            <div class="col-md-4" style="background-color: red;height: 100px"></div>
            <div class="col-md-8" style="background-color: blue;height: 100px">
                <div class="row">
                    <div class="col-md-2" style="background-color: black;height: 100px"></div>
                    <div class="col-md-6" style="background-color: gold;height: 100px"></div>
                    <div class="col-md-4" style="background-color: green;height: 100px"></div>
                </div>
             </div>
        </div>
     </div>
    Merhaba, {{isim}}

{% endblock %}